name: Pylint

on:
  push:
    branches: [main]
  pull_request:
  workflow_dispatch:

jobs:

  pylint:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.9", "3.10", "3.11"]
    
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          submodules: recursive
          fetch-depth: 0 

      - name: Set up Python 
        uses: actions/setup-python
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install pylint
        run: |
          pip install pylint 

      - name: Analysing the code with pylint
        run: |
          pylint $(git ls-files '*.py')